{% extends 'base.html' %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    <div class = "text-input-container">
      <label for="post_content" class="form-subtitle">Введите ваше обращение:</label><br>
      <textarea class="form-control" id="post_content" name="post_content" style="height: 100px; border: 1px solid;"></textarea><br>
      <button type="submit" class="btn btn-primary" style="margin-top: -2%;">Отправить</button>
      <img src="https://media.tenor.com/_4YgA77ExHEAAAAd/rick-roll.gif" id="loadingGif" style="display: none;">
    </div>
</form>

{% if text %}
{{text|safe}}
{% endif %}

<style>
  table tr:hover td {
    background-color: #f5f5f5; /* Change to the desired background color */
  }
</style>

{% if executor|length > 0 and theme|length > 0 and group|length > 0 %}
  <div class="table-responsive">
    <table id="myTable" class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Исполнитель</th>
          <th>Тема</th>
          <th>Группа тем</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ executor }}</td>
          <td>{{ theme }}</td>
          <td>{{ group }}</td>
        </tr>
      </tbody>
    </table>
  </div>
{% else %}
  <div>Данные не распознаны</div>
{% endif %}

{% endblock %}
